<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean Du Nord | {% block title %}{% endblock title %}</title>

    <!-- Swipper CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <!-- fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">  
</head>

<body>
    <!-- head section start -->
    <header>
        {% for image in logo_images %}
        <a href="#" class="logo">
            <img src="{{image.image.url}}" alt="">
        </a>
        {% endfor %}

        <nav class="navbar">
            <a class="active" href="#home"><i class="fas fa-home"></i>Acceuil</a>
            <a href="#dishes">Agences</a>
            <a href="#about">apropos</a>
            <a href="#table"><i class="fas fa-money"></i>Services</a>
            <a href="#review">Témoignages</a>
            <a href="#order">Réservation</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <a href="{% url 'login' %}" class ="warning-button" style="background-color: #27ae60; border: 2px solid #192a56; border-radius: 15px; color: white; padding: 15px;">Login</a>
            <a href="{% url 'signup' %}" class ="default-button" style="background-color: #192a56; border: 2px solid #192a56; border-radius: 15px; color: white; padding: 15px;">signup</a>
        </div>

    </header>
    <!-- head section end -->

    <!-- Search form -->

    <form action="" id="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>

    <!-- Home section start -->
    <section class="home" id="home">
        <div class="swiper home-slider mySwiper">
            <div class="swiper-wrapper wrapper">
                {% for image in banniers %}
                <div class="swiper-slide  slide">
                    <div class="content">
                        <span>{{image.sous_titre_bannier}}</span>
                        <h3>{{image.titre_bannier}}</h3>
                        <p>{{image.texte_bannier}}</p>
                        <a href="#order" class="btn">Réserver Votre billet</a>
                    </div>
                    <div class="image">
                        <img src="{{image.image.url}}" alt="">
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="swiper-pagination"></div>
        </div>

    </section>
    <!-- home end start -->

    <!-- Section pour les plats -->

    <section class="dishes" id="dishes">

        <h3 class="sub-heading">Nos Agences</h3>
        <h1 class="heading">Agences de proximité</h1>

        <div class="box-container">
            {% for image in ville_agences %}
            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="{{image.image.url}}" alt="">
                <h3>{{image.ville}}</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="{% url 'agences' %}" class="btn">Agences</a>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Section pour les plats End-->

    <!-- about section start -->

    <section class="about" id="adout">

        <h3 class="sub-heading">apropos de nous</h3>
        <h1 class="heading">Pourquoi nous choisir?</h1>

        <div class="row">
            {% for image in company %}
            <div class="image">
                <img src="{{image.image.url}}" alt="">
            </div>
    
            <div class="content">
                <h3>{{image.fonction}}</h3>
                <p>{{image.description}} </p>
                <p>Lorem ipsum sit amet consectetur adipisicing elit. Sit natus dolor cumque amet consectetu</p>
    
                <div class="icons-container">
                    <div class="icons">
                        <i class="fas fa-shipping-fast"></i>
                        <span>Destination garentie</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-dollar-sign"></i>
                        <span>Payement facile</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-headset"></i>
                        <span>Services 7/7</span>
                    </div>
                    <a href="#" class="btn">Plus d'infos</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>

    <!-- about section End -->

    <!-- Menu Section Start -->

    <section class="table" id="table">

        <h3 class="sub-heading">Nos Tarifs</h3>
        <H1 class="heading">Billets & Services</H1>

        <div class="box-container">
            <div class="inputBox">
                <table>
                    <thead>
                        <tr>
                            <th style="padding-right: 4rem;">Destinations</th>
                            <th style="padding-right: 4rem;">Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in destinations %}
                        <tr>
                            <td style="padding-right: 4rem;">{{items.trajet}}</td>
                            <td style="padding-right: 4rem;">{{items.prix}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="inputBox">
                <table>
                    <thead>
                        <tr>
                            <th>Services</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>colis type document</td>
                            <td>2000 FCFA</td>
                        </tr>
                        <tr>
                            <td>Colis type marchandises</td>
                            <td>5000 à 25000</td>
                        </tr>
                    </tbody>
                </table>
            <div>
        </div>

    </section>
    <!-- Menu section End -->

    <!-- Review section start -->

    <section class="review" id="review">

        
        <h3 class="sub-heading">Avis Client</h3>
        <H1 class="heading">Que disent ils?</H1>

        <div class="swiper review-slider myNewSwiper">

            <div class="swiper-wrapper wrapper">
                {% for image in avis %}
                <div class="swiper-slide slide">
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="{{image.image.url}}" alt="">
                        <div class="user-info">
                            <h3>{{image.client}}</h3>
                            <h4>{{image.status}}</h4>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                    <p>{{image.avis}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    <!-- Review section End -->

    <!-- order section -->

    <section class="order" id="order">

         
        <h3 class="sub-heading">Reserver votre billet</h3>
        <H1 class="heading">Réservation en avance</H1>

        <form method="POST" action="/">
            {% csrf_token %}
            <div class="inputBox">
                <div class="input">
                    <span>Votre nom</span>
                    <input type="text" placeholder="Entrer votre nom" name="name" id="" required>
                </div>
                <div class="input">
                    <span>Votre prénom</span>
                    <input type="text" placeholder="Entrer votre prénom" name="prenom" id="" required>
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>Numero de télephone</span>
                    <input type="text" placeholder="Entrer votre numero de télephone" name="phone" id="" required>
                </div>
                <div class="input">
                    <span>Destination</span>
                    <input type="text" placeholder="Entrer votre destination " name="trajet" id="" required>
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>Piece d'identification</span>
                    <select class="form-control" id="piece" name="piece" placeholder="Voter destination" type="text" required>
                        <option>CNI</option>
                        <option>Passport</option>
                        <option>NUI</option>
                        <option>Carte etudiant</option>
                    </select>
                </div>
                <div class="input">
                    <span>Agence</span>
                    <input type="text" placeholder="Agence de destination " name="agence" id="" required>
                </div>
                <div class="input">
                    <span>Date du voyage</span>
                    <input type="date" name="date" id="">
                </div>
                <div class="input">
                    <span>Provénance</span>
                    <input type="text" placeholder="Entrer la ville et l'agence de depart " name="provenance" id="" required>
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>Adresse</span>
                    <textarea name="adresse" placeholder="Entrer votre adresse" id="" cols="30" rows="10"></textarea>
                </div>
                <!-- <div class="input">
                    <span>Message</span>
                    <textarea name="" placeholder="Votre message" id="" cols="30" rows="10"></textarea>
                </div> -->
            </div>
            <input type="submit" value="Réserver" class="btn">
        </form>

    </section>
    <!-- order section end -->

    <!-- footer section start -->

    <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>Localisation</h3>
                <a href="#">Brazzaville</a>
                <a href="#">Pointe-Noire</a>
                <a href="#">Dolisie</a>
                <a href="#">Nkayi</a>
                <a href="#">Oyo</a>
                <a href="#">Infondo</a>
            </div>

            <div class="box">
                <h3>Liens Rapide</h3>
                <a class="active" href="#home">Acceuil</a>
                <a href="#dishes">Agences</a>
                <a href="#about">Apropos</a>
                <a href="#menu">services</a>
                <a href="#review">Témoignages</a>
                <a href="#order">Réservation</a>
            </div>

            <div class="box">
                <h3>Nos contactes</h3>
                <a href="tel:">+242 06 654 97 80</a>
                <a href="#">+242 06 548 00 01</a>
                <a href="mailto:">joejosiasb@gmail.com</a>
            </div>

            <div class="box">
                <h3>Suivez Nous sur</h3>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">Tiktok</a>
                <a href="#">Youtube</a>
            </div>

        </div>

        <div class="credit">copyright @ 2024 by <span>Ocean Du Nord</span></div>

    </section>
    <!-- footer section End -->

    <!-- loader part -->

   

















    <!-- java script file content --> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="{% static 'app/js/script.js' %}"></script>
</body>
</html>