{% extends 'base.html' %}

{% block content %}

{% load static %}
    <!-- subscription's section -->

    <div class="profile" id="profile" style="margin-bottom: 10rem; background: linear-gradient(black, black);">
        {% for image in profile_bannier %}
        <div class="banner-profile">
            <img src="{{image.image.url}}">
            {% if user.is_authenticated %}
            <H1 class="heading" style="padding-top: 20rem; color: white;">Bienvenue {{fname}}</H1>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <!-- subscription section end -->

        <!-- order section -->

    <section class="order" id="order">

         
        <h3 class="sub-heading">Reserver votre billet</h3>
        <H1 class="heading">Réservation en avance</H1>

        <form method="POST" action="/profile">
            {% csrf_token %}
            <div class="inputBox">
                <div class="input">
                    <span>Votre nom</span>
                    <input type="text" placeholder="Entrer votre nom" name="name" id="" required>
                </div>
                <div class="input">
                    <span>Votre prénom</span>
                    <input type="text" placeholder="Entrer votre prénom" name="prenom" id="" required>
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>Numero de télephone</span>
                    <input type="text" placeholder="Entrer votre numero de télephone" name="phone" id="" required>
                </div>
                <div class="input">
                    <span>Destination</span>
                    <input type="text" placeholder="Entrer votre destination " name="trajet" id="" required>
                </div>
            </div>
            <div class="inputBox"> 
                <div class="input">
                    <span>Piece d'identification</span>
                    <select class="form-control" id="piece" name="piece" placeholder="Voter destination" type="text" required>
                        <option>CNI</option>
                        <option>Passport</option>
                        <option>NUI</option>
                        <option>Carte etudiant</option>
                    </select>
                </div>
                <div class="input">
                    <span>Agence</span>
                    <input type="text" placeholder="Agence de destination " name="agence" id="" required>
                </div>
                <div class="input">
                    <span>Date du voyage</span>
                    <input type="date" name="date" id="" required>
                </div>
                <div class="input">
                    <span>Provénance</span>
                    <input type="text" placeholder="Entrer la ville et l'agence de depart " name="provenance" id="" required>
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <span>Adresse</span>
                    <textarea name="adresse" placeholder="Entrer votre adresse" id="" cols="30" rows="10" required></textarea>
                </div>
            </div> 
            <input type="submit" value="Reserver" class="btn"> 
        </form> 

    </section>
    <!-- order section end -->
     
{% block content %}