{% extends 'base.html' %}

{% block content %}

{% load static %}


    <!-- subscription's section -->

    <section class="users" id="order" style="margin-bottom: 10rem;">
         
        <H1 class="heading" style="margin-top: 12rem;">Connectez vous!</H1>

        <form method="POST" action="/signin" style="background: white;">
            {% csrf_token %}

            {% for message in messages %}
            {% if user.is_authenticated %}
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert" style="font-size: 14px; color: green;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong></strong> {{ message }}
            </div>
            {% else %}
            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert" style="font-size: 14px; color: green;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" style="font-size: 18px; color: green;">&times;</a>
                <strong></strong> {{ message }}
            </div>
            {% endif %}
            {% endfor %}

            <div class="inputBox">
                <div class="input">
                    <span style="color: white;">Votre username</span>
                    <input type="text" placeholder="Entrer votre username" name="username" id="" required>
                </div>
                <div class="input">
                    <span style="color: white;">Votre mot de passe</span>
                    <input type="password" placeholder="Entrer votre mot de passe" name="password" id="" required>
                </div>
            </div>
            <input type="submit" value="connecter" class="btn">
            <a href="{% url 'signup' %}" style="font-size: 1.5rem;">Vous n'avez pas de compte? inscrivez-vous</a>
        </form>

    </section>
    <!-- order section end -->

{% endblock content %}