    <!-- head section start -->
    <header>
        {% for image in logo_images %}
        <a href="{% url 'home' %}" class="logo">
            <img src="{{image.image.url}}" alt="">
        </a>
        {% endfor %}

        <nav class="navbar">
            <a class="active" href="{% url 'home' %}"><i class="fas fa-home"></i>Acceuil</a>
            <a href="#dishes">Agences</a>
            <a href="#about">apropos</a>
            <a href="#table"><i class="fas fa-money"></i>Services</a>
            <a href="#review">Témoignages</a>
            <a href="#contactes">Contactes</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            {% if user.is_authenticated %}
            <a href="/signout" class ="default-button" style="background-color: #192a56; border: 2px solid #192a56; border-radius: 15px; color: white; padding: 15px;">Logout</a>
            <a href="{% url 'dashboard' %}" class ="default-button" style="background-color: #27ae60; color: white; padding: 15px; border: 2px solid #192a56; border-radius: 15px; padding: 15px;">Dashboard</a>
            {% else %}
            <a href="{% url 'signin' %}" class ="warning-button" style="background-color: #27ae60; border: 2px solid #192a56; border-radius: 15px; color: white; padding: 15px;">Login</a>
            <a href="{% url 'signup' %}" class ="default-button" style="background-color: #192a56; border: 2px solid #192a56; border-radius: 15px; color: white; padding: 15px;">signup</a>
            {% endif %}
            
        </div>

    </header>
    <!-- head section end -->

    <!-- Search form -->

    <form action="" id="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>
